<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List 100%</title>

    
    <style>
        body {
            font-family: Arial, sans-serif;
            color:  white;
            margin: 20px;
            padding: 0;
        }
        h1 {
            text-align: center;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: gray;
            cursor: move;
        }

            li.dragging {
                background-color: #f0f0f0;
                opacity: 0.5;
            }

        button {
            cursor: pointer;
        }
    </style>

    
    @section Styles {
    <style>
        .highlight {
            animation: highlightAnimation 1s ease-in-out;
        }

            .highlightG {
                animation: highlightGreen 1s ease-in-out;
            }

            .highlightR {
                animation: highlightRed 1s ease-in-out;
            }

        @@keyframes highlightAnimation {
            from { background-color: yellow; }
            to { background-color: transparent; }
        }

            @@keyframes highlightGreen {
                from {
                    background-color: green;
                }

                to {
                    background-color: transparent;
                }
            }

            @@keyframes highlightRed {
                from {
                    background-color: red;
                }

                to {
                    background-color: transparent;
                }
            }

        .draggable {
            transition: transform 0.3s ease;
        }
    </style>
}
    
    

</head>
<body>
    <h1>ToDo List</h1>
    <input type="text" id="taskInput" placeholder="Додати нове завдання">
    <button onclick="addTask()">Додати</button>
    <ul id="taskList"></ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.7/signalr.min.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
